div.container-fluid
    div.row
         div.col-sm-4.col-sm-push-8
                div.panel.panel-default
                    div.panel-heading
                        h3.panel-title
                            |Me
                    div.panel-body
                        ul.list-group
                            li.list-group-item
                                 img(src='images/profilePic.jpg').img-rounded.img-thumbnail.img-responsive
                            li.list-group-item
                                |Email: 
                                a(href='http://www.shortwhale.com/granthme', taget='_blank')
                                    | Using Shortwhale 
                            li.list-group-item
                                |LinkedIn: 
                                a(href='ca.linkedin.com/pub/grant-hunter/72/55b/6b9/', taget='_blank')
                                    |Profile
                            li.list-group-item
                                |Github: 
                                a(href='https://github.com/grantdhunter/', taget='_blank')
                                    |Page
            div.col-sm-8.col-sm-pull-4
                div.panel.panel-default
                    div.panel-heading
                        h3.panel-title
                            |About
                    div.panel-body
                        p   
                            |My name is Grant Hunter, I grew up in Rocky Mountain House Alberta, Canada. Through out elementary and middle school I was in French immersion. The program disintegrated after grade nine so I took the opening in my schedule to fast track Math and Science. 
                        p
                            |After high school I went straight to the University of Alberta and four years later graduated with a Bachelor of Science in Computer Engineering. At university I was introduced to the idea of startups and entrepreneurship. 
                        p
                            |During the summer between third and forth year a friend and I started a company to build an Android app called SilentZone. Even though the company was unsuccessful, we learned tones about app development, user acquisition and team management. At this point SilentZone has been demoted to a hobby.
                        p
                            |For fun and relaxation I enjoy a variety of outdoor activities. When the snow is thick and the temperature low, I love heading to the mountains and downhill skiing or snowboarding. During the opposite weather, I whitewater kayak. And throughout all seasons I ride my bike when possible so I don't have to deal with traffic or paid parking. 
                        p
                            |Currently I am learning new things, working on personal projects and pursuing work in the entrepreneurial arts.
    div.row
        div.col-sm-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |Technical Skills
                div.panel-body
                    ul.list-group
                        li.list-group-item
                            |C
                        li.list-group-item
                            |Embedded Systems
                        li.list-group-item
                            |Java
                        li.list-group-item
                            |Android
                        li.list-group-item
                            |HTLM5 & CSS3
                        li.list-group-item
                            |Javascript
                        li.list-group-item
                            |Windows
                        li.list-group-item
                            |Mac OS X
                        li.list-group-item
                            |Linux
         div.col-sm-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |Non Technical Skills
                div.panel-body
                    ul.list-group
                        li.list-group-item
                            |Grade 9 French
                        li.list-group-item
                            |Drive Manual Transmission
                        li.list-group-item
                            |Requirements Gathering
                        li.list-group-item
                            |Client Relations
                        li.list-group-item
                            |Project Management
                    
           div.col-sm-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |Hobbies
                div.panel-body
                    ul.list-group
                        li.list-group-item
                            |Rock Climbing
                        li.list-group-item
                            |Skiing
                        li.list-group-item
                            |Snowboarding
                        li.list-group-item
                            |Kayaking    
                        li.list-group-item
                            |Building Things