div.container-fluid
    div.row
        div.col-xs-8.col-xs-offset-2.well
            p   
                |My name is Grant Hunter. I was born and rased in Rotten Monkey House (Rocky Mountain house), Alberta. While I was not a fan of Rocky while I was growing up, it has grown on me after leaving. Although having lived in one place for so long I am eager to see the world.
            p
                |I was in French Immersion from kindergraden to grade 9, when the program petered out. With French Immersion no longer playing havoc with my school schedule, I was free to take the courses I was more interested in, physics, biology, chemistery and math. 
     div.row
        div.col-xs-8.col-xs-offset-2.well
            p   
                |2010 I was accepted to the University of Alberta Engineering program. I will be entering my forth year of computer engineering in the fall of 2013. Until then I am working as a researcher for PEP Energy Systems and on the side I am developing  software with myfriend <a href="http://motiejus.osipovas.ca/">Motiejus Osipovas</a>.
            p
                | Besides school, computers and start up, I road bike, white water kayak and rock climb in the summer and ski as much as time and wallet density will allow in the winter. In the future I hope to travel the globe to see the many unique culture and ski the many unique slopes that exist.
     div.row
        div.col-xs-8.col-xs-offset-2.well
            h3
                |Summary of Skills
            div.col-xs-6
                ul
                    h4
                        |Technical
                    li
                        |C
                    li
                        |Embedded Systems
                    li
                        |Java
                    li
                        |Android
                    li
                        |HTLM5 & CSS3
                    li
                        |Javascript
                    li
                        |Windows
                    li
                        |Mac OS X
                    li
                        |Linux
            div.col-xs-6
                ul
                    h4
                        |Non Technical
                    li
                        |Grade 9 French
                    li
                        |Class 5 Drivers License
                    li
                        |Rock Climbing
                    li
                        |Skiing
                    li
                        |Snowboarding
                    li
                        |Kayaking