div.container-fluid
    div.row
        div.col-xs-8
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |About
                div.panel-body
                    p   
                        |My name is Grant Hunter. I grew up in Rocky Mountain House, Alberta, Canada. I lived on an acreage 
        div.col-xs-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |Me
                div.panel-body
                    ul.list-group
                        li.list-group-item
                             img(src='images/profilePic.jpg').img-rounded.img-thumbnail.img-responsive
                        li.list-group-item
                            |email: 
                            a(href='http://www.shortwhale.com/granthme', taget='_blank')
                                | Using Shortwhale 
                        li.list-group-item
                            |linkedIn: 
                            a(href='ca.linkedin.com/pub/grant-hunter/72/55b/6b9/', taget='_blank')
                                |Profile
                        li.list-group-item
                            |Github: 
                            a(href='https://github.com/grantdhunter/', taget='_blank')
                                |Page
    div.row
        div.col-xs-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |Technical Skills
                div.panel-body
                    ul.list-group
                        li.list-group-item
                            |C
                        li.list-group-item
                            |Embedded Systems
                        li.list-group-item
                            |Java
                        li.list-group-item
                            |Android
                        li.list-group-item
                            |HTLM5 & CSS3
                        li.list-group-item
                            |Javascript
                        li.list-group-item
                            |Windows
                        li.list-group-item
                            |Mac OS X
                        li.list-group-item
                            |Linux
         div.col-xs-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |Non Technical Skills
                div.panel-body
                    ul.list-group
                        li.list-group-item
                            |Grade 9 French
                        li.list-group-item
                            |Drive Manual Transmission
                    
           div.col-xs-4
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |Hobbies
                div.panel-body
                    ul.list-group
                    li.list-group-item
                        |Rock Climbing
                    li.list-group-item
                        |Skiing
                    li.list-group-item
                        |Snowboarding
                    li.list-group-item
                        |Kayaking       