nav.navbar.navbar-default(ng-controller="headerCtrl")
    div.container-fluid
        div.navbar-header
            button.navbar-toggle(type='button' data-type='collapse' data-target='#dropdown-nav')
                span.sr-only
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/'){{siteTitle}}

        div.collapse.navbar-collapse#dropdown-nav
            ul.nav.navbar-nav
                li(ng-repeat='page in sitePages')
                     a(href="/partials/{{page.toLowerCase()}}") {{page}}
                    

   
   
