div.container-fluid
    div.row
        div.col-sm-8
            div.row(ng-repeat='project in projects')
                div.col-sm-12
                    div.panel.panel-default
                        div.panel-heading
                            h3.panel-title
                                |{{project.title}}
                        div.panel-body
                            dl.dl-horizontal
                                dt
                                    |Link: 
                                dd
                                    a(href='{{project.link}}', target='_blank')
                                        |{{project.link}}
                                dt
                                    |Description:
                                dd(ng-bind-html='project.description')
        div.col-sm-4
            div.row
                div.col-sm-12
                    div.panel.panel-default
                        div.panel-heading
                            h2.panel-title
                                |Github Projects
                        div.panel-body
                            dev.list-group
                                a(href='{{project.html_url}}', target='_blank', ng-repeat='project in githubProjects' ).list-group-item
                                    |{{project.name}}