div.container-fluid
    div.row
        div.col-xs-8.col-xs-offset-2(ng-repeat='project in projects')
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |{{project.title}}
                div.panel-body
                    p
                        |Link:  
                        a(href='{{project.link}}')
                            |{{project.link}}
                    p
                        |Description: 
                        b(ng-bind-html='project.description')