div.container-fluid
    div.row
        div.col-sm-12(ng-repeat='job in jobs')
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title
                        |{{job.company}}
                        small
                            | {{job.date}}
                div.panel-body
                    dl.dl-horizontal
                        dt
                            |Position:  
                        dd
                            |{{job.position}}
                        dt
                            |Description:
                        dd
                            |{{job.description}}
