doctype 5
html
    head
        title= pageTitle 
        
        //css libraries
        link(rel='stylesheet', href='bower_components/bootstrap/dist/bootstrap.css')
        
        
        //js libraries
        script(src='bower_components/angular/angular.js')
        
        block head
   
    body
        block header
        block body
        block footer